{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Contact App</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'web/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'web/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'web/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'web/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">

  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'web/images/favicon.png' %}" />
</head>

<body class="boxed-layout">
  <div class="container-scroller">

    {% include 'partials/header.html' %}
  
    {% block content %}
    
    {% endblock %}

    {% include 'partials/footer.html' %}
    
     <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'web/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'web/vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'web/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'web/js/off-canvas.js' %}"></script>
  <script src="{% static 'web/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'web/js/template.js' %}"></script>
  <script src="{% static 'web/js/settings.js' %}"></script>
  <script src="{% static 'web/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'web/js/data-table.js' %}"></script>
  <!-- End custom js for this page--> 
</body>

</html>
